body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #8D72E1;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #8D72E1;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #6C4AB6;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

a {
  color: #6C4AB6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #a6b3ff;
}

hr {
  border: dotted #8D9EFF 8px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #B9E0FF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #8D72E1;
  padding:50px 0px 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #a6b3ff;
  font-size: 0.75em;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.python-pics{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-pics{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #8D72E1;
  background-image: -webkit-linear-gradient(top, #8D72E1, #6C4AB6);
  background-image: -moz-linear-gradient(top, #8D72E1, #6C4AB6);
  background-image: -ms-linear-gradient(top, #8D72E1, #6C4AB6);
  background-image: -o-linear-gradient(top, #8D72E1, #6C4AB6);
  background-image: linear-gradient(to bottom, #8D72E1, #6C4AB6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2ba7ff;
  background-image: -webkit-linear-gradient(top, #2ba7ff, #4c6aff);
  background-image: -moz-linear-gradient(top, #2ba7ff, #4c6aff);
  background-image: -ms-linear-gradient(top, #2ba7ff, #4c6aff);
  background-image: -o-linear-gradient(top, #2ba7ff, #4c6aff);
  background-image: linear-gradient(to bottom, #2ba7ff, #4c6aff);
  text-decoration: none;
}
